.bg-image{
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp");
  height: 100vh;
}

.conatiner-bg{
  display:flex;
  justify-content: center;
  align-items: center;

}
.mask{ 
  
  background-color: hsla(0, 0%, 0%, 0.6);
  min-height: 100vh;
  min-width: 100vmax;
  display: flex;
  justify-content: center;
  align-items: center;
}
form label{
margin-top: 5px;
color: white;
}
.form-div{
  
  height: 50vh;
  width: 30vmax;
  padding: 30px;
}
input{
  background-color: red;
}
.input-group{
  margin-bottom: 5px;
}
.submit-div{
  margin-top: 20px;
  text-align: center;
  
}
button{
  color:white;
  padding: 5px;
  background-color: transparent;
  border: none;
  font-size: 25px;
}
button:hover{
  border: 2px solid white;
}